# Created by .ignore support plugin (hsz.mobi)
net/__pycache__/
*.iml
.log
*.log
*/logs/*
*.log.*
.class
*.class
.project
.settings
.classpath
.DS_Store
gradle/
*/gradle/
*/gradle/*
/.settings/
/.idea/
*/.idea/
*/.idea/*
/target/
*/target/
*/target/*